.menu-hospedagem{
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 1rem 3rem;
    text-align: left;
    color: #000;
}

.dados-hospedagem{
    width: 100%;
    text-align: left !important;
    margin-bottom: 0.8rem;
    display: block;
}

.campos-hospedagem1{
    margin-top: 4rem;
}

.btn-cadastro-hospedagem{
    margin-top: 2rem;
}

.p-button {
    color: black;
    background: rgb(180, 241, 241);
    border: 1px solid rgb(5, 5, 5);
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
}